.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
ul {
  margin: 10px auto;
  width: 50%;
  list-style-type: none ;
  padding: 0;
  border: 1px solid;
}
li {
  font-size: 18px;
  border: 1px solid;
  background-color: aliceblue;
}
.error {
  color: red;
  font-size: 20px;
  text-align: center;
}
a {
  padding: 7px 16px;
  text-align: center;
  cursor: pointer;
  &.refresh, &.butt {
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
  }
}
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 35px 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    background-color: white;
    border: 1px solid;
    p {
      margin: 0;
      padding: 10px;
    }
  }
  input:checked ~ .tab-content {
    max-height: 10em;
  }
  label::after {
    content: "\25BC";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input:checked + label::after {
    transform: rotateX(180deg);
  }
  .curr {
    border: 1px solid;
    font-weight: 600;
    padding: 5px;
    width: 30px;
    text-align: center;
  }

